<div data-bind="with:koPost">
    @Html.Partial("~/Views/Shared/Post/AddPost.cshtml")
    @Html.Partial("~/Views/Shared/Post/PostWall.cshtml")
    @Html.Partial("~/Views/Shared/Post/Tooltip.cshtml")
</div>