<div>
    <div class="jumbotron">
        <ul class="list-unstyled">
            <li>
                Upcoming Events
            </li>
            <li>
                Suggested Groups
            </li>
            <li>
                Suggested firends
            </li>
            <li>
                Friends Activity
            </li>
        </ul>
    </div>
</div>