@{
    ViewBag.Title = "C4Connect - Log In or Sign Up";
}
<div class="sign-up-header">
    <div class="col-md-6 left-section">
        <h3 class="slogan">
            QAConnect helps you connect and share with the people in your life.
        </h3>
        <img src="~/Content/Images/banner.png" class="img-responsive" />
        <hr>
    </div>
    <div class="col-md-6">
        @Html.Partial("~/Views/Account/SignUp.cshtml")
    </div>
</div>