@{
    ViewBag.Title = "Password Confirmation";
}

<div class="col-md-6 border-box">
    <div class="account-title">Reset password confirmation</div>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label for="inputEmail" class="control-label">
                Please check your email to reset your password.
            </label>
        </div>
    }
</div>>

