@{
    ViewBag.Title = "Reset password";
    var rvd = new RouteValueDictionary(Model);
}

<div class="col-md-6 border-box">
    <div class="account-title">Reset password</div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="Code" id="Code" value="@rvd["code"]" />
        <div class="form-group">
            <label for="inputEmail3" class="control-label">User Name:</label>
            <input type="text" class="form-control input-sm" name="UserName" id="UserName" placeholder="Enter User Name" />
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="control-label">Password:</label>
            <input type="password" class="form-control input-sm" name="Password" id="Password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="control-label">Confirm Password:</label>
            <input type="password" class="form-control input-sm" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm">submit</button>
        </div>
    }
</div>